@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Glagolitic:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --primary-color: #181730;
  --primary-color-light: #a599e9;
  --accent-color: #e37834;
  --accent-color-light: #e6c5b0;
}
body {
  margin: 0;
  background-color: var(--primary-color);
}
h1,
h3,
.homepage-heading-2 {
  color: white;
  text-align: left;
  margin-left: 50px;
  font-family: "Nunito Sans", sans-serif;
}
h1,
h3 {
  font-size: 70px;
}
h3 {
  color: var(--primary-color-light);
}

p {
  color: white;
  text-align: left;
  margin-left: 50px;
}

a {
  text-decoration: none;
  padding: 20px;
  text-align: left;
  color: var(--accent-color);
}
.navbar-numbers {
  color: var(--accent-color);
  font-family: monospace;
}
.navbar-menu {
  color: white;
  font-family: monospace;
}
.navbar-menu:hover {
  color: var(--accent-color-light);
  text-decoration: underline;
}
.intro-wrapper {
  margin-top: 150px;
}
.homepage-heading-1 {
  font-family: monospace;
  color: var(--accent-color);
}
.homepage-heading-2 {
  margin: 30px 50px;
}
.btn-branding-1,
.btn-branding-2 {
  border-color: var(--accent-color);
  color: var(--accent-color);
  font-family: monospace;
  margin-top: 20px;
}

.btn-branding-1:hover,
.btn-branding-2:hover {
  background-color: var(--accent-color-light);
}

#section-titles {
  font-size: 15px;
  font-weight: 800;
  padding: 30px 0;
}
