@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Glagolitic:regular);
@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root {
  --primary-color: #181730;
  --primary-color-light: #a599e9;
  --accent-color: #e37834;
  --accent-color-light: #e6c5b0;
}
body {
  margin: 0;
  background-color: var(--primary-color);
}
h1,
h3,
.homepage-heading-2 {
  color: white;
  font-family: "Nunito Sans", sans-serif;
}
h1,
h3 {
  font-size: 70px;
}
h3 {
  color: var(--primary-color-light);
}

p {
  color: var(--primary-color-light);
}

a {
  text-decoration: none;
  text-align: left;
  color: white;
}

a:hover {
  color: var(--accent-color);
}

img {
  border-radius: 10px;
}
#section-titles {
  font-size: 15px;
  font-weight: 800;
  margin-bottom: 30px;
}
.navbar-numbers {
  color: var(--accent-color);
  font-family: monospace;
}
.navbar-menu {
  color: white;
  font-family: monospace;
  background-color: var(--primary-color);
  border-radius: 30px;
  padding: 5px 8px;
}
.navbar-menu:hover {
  color: var(--accent-color-light);
  text-decoration: underline;
}
.navbar-toggler {
  border-color: var(--accent-color-light);
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28230, 197, 176, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  background-color: var(--primary-color);
}
.navbar-toggler:hover {
  border-color: white;
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28165, 153, 233, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.intro-wrapper,
.about-wrapper,
.project-wrapper,
.experience-wrapper,
.contact-wrapper {
  color: var(--primary-color-light);
  margin: 150px 50px auto 50px;
}
.contact-wrapper {
  color: var(--accent-color-light);
}
.homepage-heading-1 {
  font-family: monospace;
  color: var(--accent-color);
}
.btn-branding-1,
.btn-branding-2 {
  border-color: var(--accent-color);
  color: var(--accent-color);
  font-family: monospace;
  margin-top: 20px;
}

.btn-branding-1:hover,
.btn-branding-2:hover {
  background-color: var(--accent-color-light);
}

.project-title,
.job-title {
  font-weight: 600;
  color: white;
}

.project-title:hover {
  color: #e37834;
  cursor: pointer;
  text-decoration: underline;
}

#coding-languages,
#task-categories,
#platform-skills {
  list-style: none;
  padding: 10px 0;
}

#coding-languages li,
#task-categories li {
  padding: 5px 10px;
  border-radius: 9999px;
  background-color: #e6c5b030;
  color: var(--accent-color);
  margin-right: 10px;
  font-size: smaller;
  font-family: monospace;
}
#task-categories li {
  color: var(--primary-color-light);
}

form {
  font-family: monospace;
  font-size: smaller;
  color: white;
}

@media (min-width: 850px) {
  .homepage-heading-2,
  #about-paragraph,
  .project-description,
  .project-title,
  .job-title,
  .job-description,
  .section-titles,
  #task-categories,
  #form-intro {
    font-size: 20px;
  }

  #coding-languages li,
  form {
    font-size: 16px;
  }
}
